.jpg
.jpeg
.png
.jpeg
.JPG
network/02_The OSI Specifications-ITF.pdf
network/00_Connectors-and-Wiring-Standards-ITF-Optional.pdf
network/01_Introduction-to-Networks-ITF.pdf
sql/SQL SIRA.jpg
ITF_TW_9_TEAM-LEAD.pdf
ITF_10_9_STUDENT.pdf
teamwork-agendas/ITF_TW_10_TEAM-LEAD.pdf
teamwork-agendas/ITF_10_10_STUDENT.pdf
python/hands-on/test_file.txt
python/hands-on/dummy_file.txt
python/hands-on/fishes.txt
python/hands-on/fruits.txt
python/hands-on/istiklal.txt
python/hands-on/rumi.txt
python/python-indentation.png
1639551309160.pdf
sql/1639645899726.jpg
teamwork-agendas/python-indentation.png
SQL_WS_TEAMLEAD_VERSION.pdf
aws/01_27_2022-Guile-JSON-YAML-CFN/AWS-CloudFormation - guile-intro-to-cloudformation - Oğuzhan Hızıroğlu.pdf
aws/01_27_2022-Guile-JSON-YAML-CFN/Guile-Yaml-Json - guile-yaml-json - Oğuzhan Hızıroğlu.pdf
jira/projects/Jira Project.xlsx
linux/LINUX+++.pdf
python/hands-on/Assignment_letters.ipynb
agile/image (2).png
.gitignore
linux/Linux_User_Commands.docx
linux/linux-bash-terminal.pdf
linux/linux-bash.pdf
linux/Linux_Environment_Variables.docx
linux/Linux_Basic_Commands.docx
linux/distros.png
aws/oğuzhanın hazırladığı pdfs/2-IAM.pdf
aws/oğuzhanın hazırladığı pdfs/1-EC2 Intance ile Basit Manada Bir Web Serverın Ayağa Kaldırılması.pdf
my_workspace.code-workspace
aws/credentials/fatalrhym_credentials.csv
10-22-tw-005-team-lead.pdf
aws/credentials/fatalrhym_credentials (4).csv
aws/credentials/github-private-token.txt
ADD_Snapshot-AMI.pdf
10-22-tw-006-team-lead.pdf
